.App {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #023047;
  color: white;
}

#RoomMap{
  left: 20%;
  position: absolute;
  width: 80%;
  height: 100%;
}

#SidePanel{
  position: absolute;
  width: 20%;
  height: 100%;
  border: silid 1px black;
}

.RoomBlock{
  position: absolute;
  border: solid 1px black;
}

#InfoList {
  width: 100%;
 border-collapse: collapse;
}

#RoomName {
  width: 20%;
}

#EventSummary {
  width: 40%;
}

#EventTime {
  width: 40%;
}

#InfoList tbody tr {
  height: 40px;
  border-bottom: solid 1px black;
}

#InfoList tbody tr:hover {
  background-color: black;
  transition: 2s;
  cursor: pointer;
}

#InfoList tbody tr td h3 {
  margin: 10px auto;
}

.RoomTime{
  font-size: small;
}