#root{
  width: 100%;
  height: 100%;
  text-align: center;
}

.App {
  height: 100%;
  width: 1600px;
  margin: 0 auto;
  margin-top: 20px;
}

#MainPage{
  float: left;
  width: 1000px;
  height: 100%;
}

#RoomMap{
  float: left;
  height: 100%;
  width: 700px;
}

#SidePanel{
  float: left;
  width: 250px;
  height: 100%;
}

#canvas{
  width: 600px;
  height: 100%;
}

#InfoPage {
  float: left;
  width: 600px;
  height: 100%;
}

#InfoList {
  width: 100%;
  border-collapse: collapse;
}

#RoomName {
  width: 20%;
}

#Schedule{
  width: 30%;
}

#EventSummary {
  width: 30%;
}

#Users{
  width: 20%;
}

#InfoList tbody tr {
  height: 40px;
  border-bottom: solid 1px #CFD8DC;
}

#InfoList tbody tr:hover {
  background-color: #ECEFF1;
  transition: 1s;
  cursor: pointer;
}

#InfoList tbody tr td h3 {
  margin: 10px auto;
}

.RoomTime{
  font-size: small;
}

.DropdownActive{
  display: block;
}

.DropdownInactive{
  display: none;
}