#root{
  width: 100%;
  height: 100%;
  text-align: center;
}

.App {
  height: 100%;
  width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
}

#MainPage{
  float: left;
  width: 900px;
  height: 100%;
}

#RoomMap{
  float: left;
  height: 500px;
  width: 700px;
  position: relative;
}

#SidePanel{
  float: left;
  width: 200px;
  height: 100%;
}

#InfoPage {
  float: left;
  width: 500px;
  height: 100%;
}

#InfoList {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#Schedule{
  padding: 0 10px;
}

#EventSummary {
  padding: 0 10px;
}

#InfoList tbody {
  font-size: 13px;
}

#InfoList tbody tr {
  height: 45px;
  border-bottom: solid 1px #CFD8DC;
}

#InfoList tbody tr:hover {
  background-color: #ECEFF1;
  transition: 1s;
  cursor: pointer;
}

#InfoList tbody tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#InfoList tbody tr td h3 {
  margin: 10px auto;
}

.RoomTime{
  font-size: small;
}

.DropdownActive{
  display: block;
  position: absolute;
  padding: 5px;
  margin-top: -15px;
  background-color: rgba(154,165,172,0.5);
  border: solid 0.5px rgba(0, 0, 0, 0.3);
}

.DropdownInactive{
  display: none;
}

#Map{
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

#RoomMap canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

#OrganizationBar {
  margin-left: 30px;
}

#OrganizationBar button{
  float: left;
  margin-left: 2px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.App-link {
  color: #61dafb;
}

#ColorBar {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#ColorBar div{
  border: solid 1px #CFD8DC;
  margin-bottom: 3px;
  padding: 5px 0;
}

.Color{
  width: 20px;
  height: 10px;
  border-radius: 10px;
  float: left;
}

#Login{
  margin-top: 70px;
}

#SetEvent{
  margin-top: 10px;
  width: 100%;
}

#AttendAutocomplateList{
  position: absolute;
  margin-left: 45px;
  width: 150px;
  background-color: #ECEFF1;
}

#AttendAutocomplateList div{
  border-bottom: solid 1px #CFD8DC;
  height: 25px;
  line-height: 25px;
}

#AttendAutocomplateList div:hover{
  background-color: cadetblue;
}

#AttendeesList{
  font-size: 13px;
}

#AttendeesList div{
  margin-top: 2px;
  width: 200px;
  height: 20px;
  background-color: cadetblue;
  border-radius: 150px;
}

#AttendeesList div span{
  float: right;
  margin-right: 5px;
}